header {background-color: blue; height: 60px; width: 100%; border-radius: 20px; display: table; text-align: center; margin-bottom: 5px;}
h1 {color: white; text-align: center; display: table-cell; vertical-align: middle;}
#Estilo1 {background-color: orange; height: 20px; width: 100%; border-radius: 10px; margin-bottom: 5px; display: table; text-align: center;}
#Estilo2 {color: white; text-align: center;display: table-cell; vertical-align: middle;}