body {   
    margin:0;
    padding:0;
    height:100%;}
header {background-color: blue; width: 100%; height: 40px;}
h1 {color: white;}
td {color: blue;}
footer {
    background-color: orange; 
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; }
#div1 {background-color: red; width: 400px; height: auto; float: left;}
#div2 {background-color: yellow; width: 950px; height: auto; float: right;}